{:paths ["src" "resources" "config"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        prismatic/schema {:mvn/version "1.1.12"}
        io.pedestal/pedestal.service {:mvn/version "0.5.8"}
        io.pedestal/pedestal.service-tools {:mvn/version "0.5.8"}
        io.pedestal/pedestal.jetty {:mvn/version "0.5.8"}

        ch.qos.logback/logback-classic {:mvn/version "1.2.3"
                                        :exclusions [org.slf4j/slf4j-api]}
        org.slf4j/jul-to-slf4j {:mvn/version "1.7.30"}
        org.slf4j/jcl-over-slf4j {:mvn/version "1.7.30"}
        org.slf4j/log4j-over-slf4j {:mvn/version "1.7.30"}
        org.clojure/tools.logging {:mvn/version "1.1.0"}

        buddy/buddy-auth {:mvn/version "2.2.0"}
        buddy/buddy-hashers {:mvn/version "1.4.0"}

        org.clojure/java.jdbc {:mvn/version "0.7.11"}
        org.postgresql/postgresql {:mvn/version "42.1.4"}
        clj-time {:mvn/version "0.15.2"}
        org.clojure/data.json {:mvn/version "1.0.0"}
        ragtime {:mvn/version "0.8.0"}

        shtanglitza/osm-ifc {:git/url "https://github.com/Shtanglitza/osm-ifc"
                             :sha "48827b0197dbb7664a7389b5b0436fbb66d3e081"}
        shtanglitza/pedestal-api {:git/url "https://github.com/Shtanglitza/pedestal-api"
                                  :sha "10f2b886ef9b62b8a7087da4f7705511eeea6fe0"}}
 :aliases {:uberdeps {:extra-deps {uberdeps/uberdeps {:mvn/version "1.0.2"}}
                      :main-opts ["-m" "uberdeps.uberjar"]}}}
